#exp-title {
    text-align: center;
    padding: 25px;
    background-color: #bed9f5;
}

.page-view{
    padding: 10px 20px;
    display: none;
}

#agree-span{
    color: red;
    font-weight: bold;
}

.centerize{
    text-align: center;
}

.exp--btn{
    width: 100px;
}

#start-square{
    border: solid #0e76e6;;
    padding: 10px;
    background: #0e76e6;
    width: 30px;
    margin: auto;
    margin-top: 50px;
}

#exp {
    margin-top: 50%;
}